<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Prepaid Plan Management</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
	    <nav>
        <ul>
            <li><a href="/postpaid">Postpaid Plans</a></li>
            <li><a href="/prepaid">Prepaid Plans</a></li>
            <li><a href="/customers">Customers</a></li>
            <li><a href="/plans">Plans</a></li>
             <li><a href="/calls">Calls</a></li>
        </ul>
    </nav>

    <h1>Prepaid Plan Management</h1>
    
    <h2>Add Prepaid Plan</h2>
    <form action="#" th:action="@{/prepaid}" th:object="${prepaid}" method="post">
        <label for="planId">ID:</label>
        <input type="text" id="planId" th:field="*{planId}" />
        <label for="planName">Name:</label>
        <input type="text" id="planName" th:field="*{planName}" />
        <label for="planPrice">Price:</label>
        <input type="text" id="planPrice" th:field="*{planPrice}" />
        <label for="planLimit">Limit:</label>
        <input type="text" id="planLimit" th:field="*{planLimit}" />
        <label for="duration">Duration:</label>
        <input type="text" id="duration" th:field="*{duration}" />
        <button type="submit">Add Prepaid Plan</button>
    </form>

    <h2>All Prepaid Plans</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Limit</th>
                <th>Duration</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="prepaid : ${prepaidPlans}">
                <td th:text="${prepaid.planId}"></td>
                <td th:text="${prepaid.planName}"></td>
                <td th:text="${prepaid.planPrice}"></td>
                <td th:text="${prepaid.planLimit}"></td>
                <td th:text="${prepaid.duration}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
